<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit post</title>
</head>
<body>

</body>
</html>
{% extends 'blog/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}

<h1 class="display-3"> Edit post: <a href="{% url 'blog:posts' blog.id %}"><small>{{blog}}</small></a>
</h1>
{% endblock page_header %}

{% block content %}

<form action="{% url 'blog:edit_post' post.id %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button type='submit' content='Edit Post' %}

</form>

{% endblock content %}